
.add-pl-songs .new-song{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.add-pl-songs .new-song input{
		margin-left: 5px;
}

.add-pl-songs #buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
}

.add-pl-songs #buttons input[type=submit]{
	background-color: var(--btn-bg-color);
	color: var(--btn-txt-color);
	border: none;

}

.add-pl-songs #buttons input[type=submit]:focus{
	outline: none;
}

.add-pl-songs #buttons input[type=submit]:active{
	background-color: rgba(0, 31, 63, 0.8);
}

.add-pl-songs #buttons button{
	background-color: transparent;
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.add-pl-songs #buttons button:focus{
	outline: none;
}

.add-pl-songs .err-msg{
	text-align: center;
	color: red;
}