/*#player-popup-container{
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgba(0, 31, 63, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}*/

#player-container{
	counter-reset: song-num;
	--player-width: 600px;
	--player-height: 250px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:var(--player-width);
	height: var(--player-height);
	border-radius:120px / 120px;;
	background-color: #fafafa;
	border: solid thick #333;
}

#songs-container{
/*	--player-width: 600px;
	--player-height: 250px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width:var(--player-width);
	max-height: var(--player-height);
	border-radius:120px / 120px;;
	background-color: #fafafa;*/
}

#player-img-container .player-plasylist-container{
		--pl-container-w:225px;
		--pl-img-w: 225px;
		--pl-img-h: 225px;
		--circle-w: 30px;
		--circle-h: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:var(--pl-container-w);
		opacity: 1;
}

.player-plasylist-container .circle{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: var(--circle-w);
		height: var(--circle-h);
		left: calc(var(--pl-img-w) / 2 - var(--circle-w) / 2);
		top: calc((var(--pl-img-h) / 2) - (var(--circle-h) / 2));
		background-color: white;
		border-radius: 50%;
		z-index: 100;
	}

.player-plasylist-container .circle .play-pl{
		position: absolute;
		left: 5px;
		top: 3px;
		visibility: visible;
		background-color: transparent;
		border: none;
	}

audio{
	width: 250px;
}

#controls-songs-container{
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#songs-container{
	max-height: 50%;
	overflow-y: scroll;
	/*list-style:none;*/
    padding-left:0;
}

#songs-container::-webkit-scrollbar{
	display: none;
}

.song-container{
	display: flex;
	align-items: center;
	opacity: 0.5;
}

.song-container button{
	background-color: transparent;
	border: none;
	outline: none;
}

.song-container:active{
	opacity: 0.8;
}

.song-container::before{
	counter-increment: song-num;
    content: counter(song-num) ". ";
}

.song-container:hover:before{
	content: "\25BA            ";
}

#active-song::before{
	opacity: 1;
	content: "\25BA";
}

#active-song{
	opacity: 1;
}

#del-edit-btns{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#del-edit-btns button{
	outline: none;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: large;
}

/*#songs-titles{
	margin:  0 auto;
	width:600px;
	max-height: 250px;
	background-color: #fafafa;
	border-radius:120px / 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}*/

/*.song-container button{
	background-color: transparent;
	border: none;
}

.song-container button:focus{
	outline: none
}*/

.rotate-playlist{
	animation-name: rotate;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes rotate {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

.pause-playlist-rotate{
	animation-play-state:paused;
}


